/* Estilo padrão (desktop) */
body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* Tablet (largura até 1024px) */
  @media (max-width: 1024px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Celular (largura até 600px) */
  @media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  